#==============================================================================#
# GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# Project specific
#==============================================================================#
_ignore

#==============================================================================#
# TEX
#==============================================================================#
#==============================================================================#
#   Core latex/pdflatex auxiliary files
#==============================================================================#
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
#==============================================================================#
#   Intermediate documents
#==============================================================================#
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
*.pdf
#==============================================================================#
#   Bibliography auxiliary files
#==============================================================================#
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
#==============================================================================#
#   Build tool auxiliary files
#==============================================================================#
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
#==============================================================================#
#   Package: algorithms
#==============================================================================#
*.alg
*.loa
#==============================================================================#
#   Package: achemso
#==============================================================================#
acs-*.bib
#==============================================================================#
#   Package: amsthm
#==============================================================================#
*.thm
#==============================================================================#
#   Package: beamer
#==============================================================================#
*.nav
*.snm
*.vrb
#==============================================================================#
#   Package: (e)ledmac/(e)ledpar
#==============================================================================#
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
#==============================================================================#
#   Package: glossaries
#==============================================================================#
*.acn
*.acr
*.glg
*.glo
*.gls
#==============================================================================#
#   Package: gnuplottex
#==============================================================================#
*-gnuplottex-*
#==============================================================================#
#   Package: hyperref
#==============================================================================#
*.brf
#==============================================================================#
#   Package: knitr
#==============================================================================#
*-concordance.tex
*.tikz
*-tikzDictionary
#==============================================================================#
#   Package: listings
#==============================================================================#
*.lol
#==============================================================================#
#   Package: makeidx
#==============================================================================#
*.idx
*.ilg
*.ind
*.ist
#==============================================================================#
#   Package: minitoc
#==============================================================================#
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]
#==============================================================================#
#   Package: minted
#==============================================================================#
_minted*
*.pyg
#==============================================================================#
#   Package: morewrites
#==============================================================================#
*.mw
#==============================================================================#
#   Package: mylatexformat
#==============================================================================#
*.fmt
#==============================================================================#
#   Package: nomencl
#==============================================================================#
*.nlo
#==============================================================================#
#   Package: sagetex
#==============================================================================#
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
#==============================================================================#
#   Package: sympy
#==============================================================================#
*.sout
*.sympy
sympy-plots-for-*.tex/
#==============================================================================#
#   Package: pdfcomment
#==============================================================================#
*.upa
*.upb
#==============================================================================#
#   Package: pythontex
#==============================================================================#
*.pytxcode
pythontex-files-*/
#==============================================================================#
#   Package: TikZ & PGF
#==============================================================================#
*.dpth
*.md5
*.auxlock
#==============================================================================#
#   Package: todonotes
#==============================================================================#
*.tdo
#==============================================================================#
#   Package: xindy
#==============================================================================#
*.xdy
#==============================================================================#
#   Package: WinEdt
#==============================================================================#
*.bak
*.sav
#==============================================================================#
#   Package: endfloat
#==============================================================================#
*.ttt
*.fff
